{% extends "base.html" %}
{% load account %}
{% load i18n %}

{% block headtitle %} | Confirm E-mail Address{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		{% if confirmation %}

		{% user_display confirmation.email_address.user as user_display %}

		<p>{% blocktrans with confirmation.email_address.email as email %}Пожалуйста, подтвердите этот <a href="mailto:{{ email }}">{{ email }}</a> адрес электронной почты {{ user_display }}.{% endblocktrans %}</p>

		<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
			{% csrf_token %}
			<button type="submit">{% trans 'Подтвердить' %}</button>
		</form>

		{% else %}

		{% url 'account_email' as email_url %}

		<p>{% blocktrans %}Срок действия ссылки для подтверждения по электронной почте истек или она недействительна. Пожалуйста <a href="{{ email_url }}">отправьте новый запрос на подтверждение по электронной почте</a>.{% endblocktrans %}</p>

		{% endif %}

    </div>
</div>
{% endblock innercontent %}

