{% extends "base.html" %}

{% block headtitle %} | Sign In{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Войти</h1>

		<p>Если вы еще не создали учетную запись, пожалуйста, <a href="{{ signup_url }}">зарегистрируйтесь</a> сначала.</p>

		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">Войти</button>
		  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
		</form>

    </div>
</div>
{% endblock innercontent %}

