<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>О проекте</h2>
        <hr />
        <p>
          <a href="">VIDEOKEEPER</a> — это современная, полнофункциональная CMS для видео и мультимедиа с открытым исходным кодом. Это
          разработан для удовлетворения потребностей современных веб-платформ для просмотра и обмена мультимедиа.
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
