<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="user-action-form-wrap">
        <div class="user-action-form-inner">
          <h1>Войти</h1>
          <p>Если вы еще не создали учетную запись, пожалуйста, <a href="./register.html">зарегистрируйтесь</a> сначала.</p>
          <form class="login" method="POST" action="#">
            <input type="hidden" name="csrfmiddlewaretoken" value="" />
            <p>
              <label for="id_login">Логин:</label>
              <input
                type="text"
                name="login"
                id="id_login"
                required=""
                autofocus="autofocus"
                placeholder="Username or e-mail"
              />
            </p>
            <p>
              <label for="id_password">Пароль:</label>
              <input type="password" name="password" id="id_password" required="" placeholder="Password" />
            </p>
            <a class="button secondaryAction" href="./reset-password.html">Забыли пароль?</a>
            <button class="primaryAction" type="submit">Войти</button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
