MediaCMS.contents = {
    sidebar: {
        navMenuItems: [{
                text: "О проекте",
                link: "/about",
                icon: 'contact_support',
            },
            {
                text: "Условия",
                link: "/tos",
                icon: 'insert_drive_file',
            },
            {
                text: "Связь с нами",
                link: "/contact",
                icon: 'alternate_email',
            }
        ],
        belowNavMenu: null,
        footer: '',
    },
    uploader: {
        belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
};